# macOS files
.DS_Store

tests/test_*.md
tests/*.pdf

# python auxiliary 
__pycache__/
.cache
*.pyc

# pypi
dist/
htmltable2csv.egg-info/

# coverage
.coverage
htmlcov/

# pycharm
.idea/

# rst2html
README.html

# extra
data/
build/
*.egg-info
